.App {
  text-align: center;
}


nav {
  width: 100vw;
  height: 100px;
  display:flex;
  justify-content: space-around ;
  align-items: center;
}

.top-container {
  width: 100vw;
  height: 800px;
  background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg');
  background-size: cover;
  overflow: hidden;

}
.logo {
  width: 200px;
  height: 100px;
  /* background: red; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 200px;
}

.desktop-menu {
  width: 500px;
  height: 50px;
  /* background: red; */
  color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}

.dropdown {
  display: none;
}

.mobile-menu {
  display: none;
}

.main-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* background: blue; */
}

.desktop-heading {
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.mobile-heading1{
  display: none;
}

.sub-heading {
  font-size: 45px;
  font-style: italic;
  font-weight: 900;
  font-family: droid serif;
  margin-bottom: 0px;
}

.button-1 {
  height: 75px;
  width: 250px;
  background: rgb(255, 206, 72);
  border-radius: 7%;
  font-size: 20px;
  font-weight: 900;
  color: white;
  border: none;
}

@media(max-width: 984px) {
  .desktop-menu{
    display: none;
  }

  .desktop-heading{
    display: none;
  }


  nav {
    width: 100vw;
    height: 40px;
    background: rgb(34, 34, 34);
    display:flex;
    justify-content: space-between ;
    align-items: center;

  }
  .logo {
    width: 150px;
    height: 50px;
    display: flex;
    position: fixed;
    top: 20px;
    right: 650px;
  }

  .dropdown {
    width: 90px;
    height: 40px;
    border-radius: 10%;
    background: rgb(255, 206, 72);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 700px;
  }


  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 240px;
    background: rgb(34, 34, 34);
    color: white;
    box-sizing: border-box;
    position: fixed;
    top: 50px;
  }

  .main-container{
    justify-content: flex-end;
  }
  .mobile-heading1 {
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

}

@media(max-width: 807px) {
  .logo {
    right: 475px;
  }

  .dropdown {
    left: 535px;
  }

  .mobile-heading1 {
    font-size: 50px;
  }

  .sub-heading {
    font-size: 30px;
  }

  .button-1 {
    height: 55px;
    width: 230px;
  }

  .main-container {
    justify-content: center;
  }

}




